@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url(/ARCADECLASSIC.TTF);
}
body{
    font-family: 'myFirstFont';
    color: white;
}

.container{
    height: 100vh;
    background: black;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
}


.game-board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.box{
    width: 150px;
    height: 150px;
    border: 1px solid white;
    font-size: 8rem;
    text-align: center;
    color:white;
}
.game-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.game-info p{
    padding-bottom: 1rem;
    word-spacing: 12px;

}
.game-info h1{
    margin-bottom: 2rem;
    letter-spacing: 5px;
    font-size: 5rem;
}
.reset{
    background-color: rgba(128, 128, 128, 0.466);
    padding: 10px 40px;
    color: white;
    font-family: 'myFirstFont';
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid white;
}
.reset:hover{
    background-color:rgba(128, 128, 128, 0.205);
}
.reset:active{
    transform: scale(97%,97%);

}

@media screen and (max-width:1100px){
    .container{
        padding: 2rem;
        flex-direction: column;
    }
}
@media screen and (max-width:576px){
    body{
        background-color: black;
    }
    .container{
        height: 93vh;
    }
    .game-board{
        width: 300px;
    }
    .box{
        width: 100px;
        height: 100px;
        font-size: 6rem;
    }
    .game-info h1{
        font-size: 3.5rem;
    }
    .game-info {
        width: 350px;
    }
}